<ion-header no-border>
  <ion-toolbar>
    <ion-label color="white" ali="center">
      <div text-center>
        <strong>
          Lịch khám hôm nay
        </strong>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <div *ngIf="listToday">
    <ion-card *ngFor="let result of listToday">
      <ion-item lines="none" (click)="btnDetailBooking_click(result.id)">
        <ion-avatar slot="start">
          <img src="{{result.patient.avatarImg}}">
        </ion-avatar>
        <ion-label>
          <strong>{{result.patient.name}}</strong>
          <p>{{result.dateTime}}</p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-button size="small" class="btnOK" slot="end" (click)="btnDone_click(result)">
          Đã khám
        </ion-button>
        <ion-button size="small" class="btnCancel" slot="end" (click)="btnPatientCancel_click(result)">
          Khách hủy
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="(!listToday && isShow)">
    <ion-card>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>