<ion-header no-border>
  <ion-toolbar>
    <ion-label color="white" ali="center">
      <div text-center>
        <strong>
          Danh sách hôm nay
        </strong>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-1/26814910_2004423026505024_2227974738784870072_n.jpg?_nc_cat=100&_nc_oc=AQlbCNzxvAOJfiN9ppN-EZCyjwtbmfOLIv1R5efi8JelmMANc8Ub1lGb0E0S00jE2KA&_nc_ht=scontent.fsgn2-2.fna&oh=c616154f675fc38a0967b0f37e31aa87&oe=5D436EA2">
      </ion-avatar>
      <ion-label>
        <strong>Phạm Thắng</strong>
        <p>T2-8:00</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button size="small" class="btnOK" slot="end">
        Đã khám
      </ion-button>
      <ion-button size="small" class="btnCancel" slot="end">
        Khách hủy
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/42503627_2187336478179681_6538863832989696000_n.jpg?_nc_cat=103&_nc_oc=AQninPWVOoVnKp3z8938pFirJ7DoD1wyoH8hqDYPYv--UWBj1LQiGJKYZoy1JCUL4I4&_nc_ht=scontent.fsgn2-2.fna&oh=ec2b0ab1157146fbdbe264ddade1bae2&oe=5D067548">
      </ion-avatar>
      <ion-label>
        <strong>Nguyễn Đình Quyền</strong>
        <p>T2-14:00</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button size="small" class="btnOK" slot="end">
        Đã khám
      </ion-button>
      <ion-button size="small" class="btnCancel" slot="end">
        Khách hủy
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.0-9/42872964_697133664019478_8375899294850351104_n.jpg?_nc_cat=108&_nc_oc=AQkJCga016w-f-w6q_hjd3HzgqZI1cGnWaA8ghAPzPUf3B4ku0k3iAkc45VokQLzht8&_nc_ht=scontent.fsgn2-3.fna&oh=fd414b50fe6705da7abefe10f5c13a29&oe=5D3C8D99">
      </ion-avatar>
      <ion-label>
        <strong>Nguyễn Minh Trung</strong>
        <p>T2-16:00</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button size="small" class="btnOK" slot="end">
        Đã khám
      </ion-button>
      <ion-button size="small" class="btnCancel" slot="end">
        Khách hủy
      </ion-button>
    </ion-card-content>
  </ion-card>
 
</ion-content>