:host
{
    ion-toolbar { 
        --background: white;
        --min-height:50px;
        --color: black;
    }
    ion-button.btnOK
    {
        --background:	#09548E;
        --color: white;
    }
    ion-button.btnCancel
    {
        --color:	#09548E;
        --background: white;
    }
    ion-label.btnDetail{
        color:	#09548E;
        text-decoration: underline;
    }
    .alert-ios .alert-radio-label{ white-space: pre-line;}
    .alert-md .alert-radio-label{ white-space: pre-line;}
    .alert-wp .alert-radio-label{ white-space: pre-line;}

}