:host
{
    ion-toolbar { 
        --background: white;
        --min-height:50px;
        --color: black;
    }
    ion-button.btnOK
    {
        --background:	#075698;
        --color: white;
    }
    ion-button.btnCancel
    {
        --color:	#075698;
        --background: white;
    }
    ion-label.btnDetail{
        color:	#075698;
        text-decoration: underline;
    }
}