<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Hôm nay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="waiting">
      <ion-icon name="swap"></ion-icon>
      <ion-label>Đang chờ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lịch khám</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mail-box">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Hộp thư</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Hồ sơ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
